<!DOCTYPE html>
<html>
<head>
    <title>Night/Day</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="..static/js/scripts.js"></script>
    <!--script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>-->
    <!--script src="/static/apps/coderlib/js/index.js"></script>-->

</head>
<body>
    <div class="pagecontent">
        <button>Launch Missles!</button>
    </div>
    <div id= "orb" class= "sun">
        <div id= "moonspot1"></div>
        <div id= "moonspot2"></div>
        <div id= "moonspot3"></div>
    </div>
    <div id= "sky" class= "day"></div>
</body>
</html>
